page-generalnews {
    .bg-image{
        background-image: url('../assets/img/background.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-size: cover;
        align-items: center;
    }
}
